<div class="header-container">
  <africsis-header></africsis-header>
</div>

<div class="positioning">
  <div class="gwsp_continer">
    <h2>Global Warming And Security Program (GWSP)</h2>

    <div class="gwsp_content_container">
      <div class="gwsp_content">
        <p>
          <span>T</span>
          he African Center for Science and International Security GWSP program encourages dialogue and advocates
          inclusive,
          independent and sustainable policies, solutions and technologies to some of the important energy and
          environmental
          questions.
        </p>
        <p>
          GWSP comprises projects on building technologies, science diplomacy, and energy and environmental research.
          GWSP
          web resources encompass policy-oriented technical publications, simulation tools for data visualization and
          analysis, and links to our partners and sponsors.
        </p>
        <div class="imageSection">
          <img src="./assets/aboutUs/gwsp.jpg" alt="">
        </div>


        <div class="mission">
          <h4>GWSP Mission</h4>
          <p>
            Climate change and energy issues have emerged as critical elements in national security and international
            relations. Over the next century, the Earth’s resilience and adjusting capacities will be stressed by the
            demands of global climate change, environmental degradation, and a more than 6-billion population worldwide
            and
            the accompanying increased resource and energy demand. Indeed, these stresses will place an additional
            burden
            upon the Earth’s natural systems and the processes and resources that balance and regulate these systems.
            Under
            these circumstances, future system imbalances and scarcities represent a security challenge. Earth systems
            security concerns have the potential to weaken and destabilize existing economic, political, and social
            structures. Because those natural systems are interdependent, it is necessary to systematically investigate
            and
            analyze them.
          </p>
        </div>
        <div class="goal">
          <h4>GWSP Goal</h4>
          <p>
            The Global Warming and Security Program seeks solutions to environment and resource security challenges by
            developing and promoting sustainable, scientifically sound, and inclusive policies, practices, and
            technological
            developments.
          </p>
        </div>

        <div class="method">
          <h4>GWSP Method</h4>
          <p>
            To meet this goal the GWSP program works in the following project areas:
          </p>
          <ol>
            <li>

              <p><b> Transparency.</b> Improve dialogue and deliberation over an understanding of key environmental
                issues
                and challenges by
                transparency in environmental research, policy decisions, and building trust and communication between
                scientists, policy makers, and the public.</p>
            </li>
            <li>

              <p><b> Technology.</b> Create tools to aid researchers, scientists, and policymakers in analyzing and
                visualizing complex issues
                and systems.</p>
            </li>
            <li>

              <p><b> Inquiry.</b> Better scientific and public understanding of key socio-environmental and earth
                systems
                issues through
                undertaking and supporting systemic, multidisciplinary research that utilizes principles of scientific
                inquiry.</p>
            </li>
            <li>

              <p><b> Policy.</b> Promote policy to further national and international environmental and energy
                sustainability and security
                and advocate for political processes that engage key stakeholders and scientists in deliberations.</p>
            </li>
            <li>

              <p><b>Partnership.</b> Develop long term, multidisciplinary collaborations and partnerships between
                African
                and foreign
                scientists
                and engineers to solve key environmental and security issues.</p>
            </li>
          </ol>
        </div>
      </div>

      <div class="sidebar">
        <div class="content-wrapper">
          <h3>Other Programs</h3>
          <div class="program-card">
            <img src="./assets/aboutUs/programcard.png" alt="">
            <div class="program-card-content">
              <p>Nonproliferation and Disarmament Program (NDP)</p>
              <a routerLink="/programs/NDP">Read More <i class="fa fa-chevron-right"></i></a>
            </div>
          </div>
          <div class="program-card">
            <img src="./assets/aboutUs/programcard.png" alt="">
            <div class="program-card-content">
              <p>Space and Satellite Program (SSP)</p>
              <a routerLink="/programs/SSP">Read More <i class="fa fa-chevron-right"></i></a>
            </div>
          </div>
          <div class="program-card">
            <img src="./assets/aboutUs/programcard.png" alt="">
            <div class="program-card-content">
              <p>Nuclear Security Program (NSP)</p>
              <a routerLink="/programs/NSP">Read More <i class="fa fa-chevron-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <africsis-subscribe></africsis-subscribe>
  <africsis-footer></africsis-footer>
</div>
