<div class="header-container">
  <africsis-header></africsis-header>
</div>

<div class="positioning">
  <div class="gwsp_continer">
    <h2>Space And Satellite Program (SSP)</h2>

    <div class="gwsp_content_container">
      <div class="gwsp_content">
        <p>
          <span>T</span>
          he African Center for Science and International Security Space and Satellite Program strengthens national and
          international efforts to access space application tools and build capacity in basic space technology towards
          addressing some of Africa’s major development and security challenges.
        </p>
        <p>
          SSP comprises projects on emerging space programs in Africa, space situational awareness, space security
          regime and education. SSP web resources encompass publications, educational resources, and links to our
          partners and sponsors.
        </p>
        <div class="imageSection">
          <img src="./assets/aboutUs/gwsp.jpg" alt="">
        </div>


        <div class="mission">
          <h4>SSP Mission</h4>
          <p>
            As many nations and their partners are increasingly seeking to obtain socioeconomic benefits from space
            systems and their applications, the international space regime and global security are major integral
            instruments in ensuring safe, secured and sustainable development of the space environment. In this context,
            capacity-building initiatives in space technology and promotion of satellite applications in support of
            sustainable development are central to national and global space development efforts and scientific
            advancement. In this context, Earth and space are increasingly interdependent and interconnected, which
            represent a security challenge. They have the potential to weaken and destabilize existing economic,
            political, and social structures. As such, it is necessary to systematically investigate and analyze them to
            strengthening the international space regime and development efforts. In this light, AFRICSIS works with
            governments, institutions and organizations to promote ideas and actions for collaboration that enhance
            access to space application tools, sustainable development, and space security.
          </p>
        </div>
        <div class="goal">
          <h4>SSP Goal</h4>
          <p>
            The SSP is dedicated to explore and discuss crosscutting development and security issues in applied space
            science research and technology, and to provide direction and guidance in the peaceful uses of space and the
            expanding space activities in Africa.
          </p>
        </div>

        <div class="method">
          <h4>SSP Method</h4>
          <p>
            The purposes of the SSP are:
          </p>
          <ol>
            <li>

              <p>To promote growing interest in many African countries to establish indigenous capacities in basic space
                technology.</p>
            </li>
            <li>
              <p>To increase knowledge about the space environment and the need to maintain it, promoting international
                cooperation and dialog, and helping all space actors realize the benefits that space can provide.</p>
            </li>
            <li>

              <p>To foster global effort in establishing the secure and sustainable use of the space environment.</p>
            </li>
            <li>

              <p>To promote collaboration and knowledge exchange in basic space capacity building and technology and to
                prepare the workforce of tomorrow.</p>
            </li>
            <li>

              <p>To provide a forum through which African scientists and engineers can contribute to international
                endeavors and cooperation in the advancement of basic space science, in cooperation with academies,
                governments and organizations.</p>
            </li>
          </ol>
        </div>
      </div>

      <div class="sidebar">
        <div class="content-wrapper">
          <h3>Other Programs</h3>
          <div class="program-card">
            <img src="./assets/aboutUs/programcard.png" alt="">
            <div class="program-card-content">
              <p>Global Warming and Security Program (GWSP)</p>
              <a routerLink="/programs/GWSP">Read More <i class="fa fa-chevron-right"></i></a>
            </div>
          </div>
          <div class="program-card">
            <img src="./assets/aboutUs/programcard.png" alt="">
            <div class="program-card-content">
              <p>Nonproliferation and Disarmament Program (NDP)</p>
              <a routerLink="/programs/NDP">Read More <i class="fa fa-chevron-right"></i></a>
            </div>
          </div>
          <div class="program-card">
            <img src="./assets/aboutUs/programcard.png" alt="">
            <div class="program-card-content">
              <p>Nuclear Security Program (NSP)</p>
              <a routerLink="/programs/NSP">Read More <i class="fa fa-chevron-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <africsis-subscribe></africsis-subscribe>
  <africsis-footer></africsis-footer>
</div>
