.subscribe_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  // background-color: red;
  background: url(../../../../assets/core/lines_power.png) #1e2f46;
  color: #fff;
  background-attachment: fixed;
}

.subscribe_text {
  display: flex;
  align-items: center;
}

h2 {
  margin: 0;
}

i{
  margin-right: 15px;
}


@media(max-width:478px){
  .subscribe_container {
    display: block;
  }

  input{
    width: 100%;
  }
}
