<div class="header-container">
  <africsis-header></africsis-header>
</div>
<div style="position: relative; top: 150px;">
  <div class="aboutUs-container" #africsisToday>
    <h1>Who We Are</h1>
    <div class="mvcontainer hidden">
      <h3>Vision</h3>
      <p>AFRICSIS envisions a safer, more secure and more stable Africa that is obtaining optimum benefits from dual-use
        science and technology in fields including nuclear energy and space systems.</p>
    </div>

    <div class="mvcontainer hidden">
      <h3>Mission</h3>
      <p>In a twenty-first century world where security is increasingly complex and technical, AFRICSIS is dedicated to
        providing rigorous-objective research, evidenced-based analysis, and practical policy recommendations that are
        essential to devise innovative and effective solutions for national and international security issues at the
        crossroad of science and technology.</p>
    </div>

    <div class="mvcontainer hidden">
      <h3>Goals</h3>
      <p>The goals of the Organization include:</p>
      <div class="goal_points">
        <i class="fas fa-tags"></i>
        <p>
          To promote a system approach to strengthening nonproliferation and arms control of nuclear weapons (and
          chemical, biological and radiological weapons and their delivery vehicles) and to increase transparency in
          peaceful nuclear activities in Africa;
        </p>
      </div>
      <div class="goal_points">
        <i class="fas fa-tags"></i>
        <p>
          To increase awareness of potential security threats from Earth systems and enable African states and partners
          better understand them;
        </p>
      </div>
      <div class="goal_points">
        <i class="fas fa-tags"></i>
        <p>
          To enhance policymakers, the public, the news media, and the next generation of African leaders to better
          understand security threats connected to dual-use science and technology; </p>
      </div>
      <div class="goal_points">
        <i class="fas fa-tags"></i>
        <p>
          Identifying and analyzing technical security challenges in Africa in ways that promote global peace, security,
          and stability. </p>
      </div>
    </div>

    <div class="mvcontainer hidden">
      <h3>Objectives</h3>
      <p>The objects of the Organization include:</p>
      <div class="goal_points">
        <i class="fas fa-tags"></i>
        <p>
          Disseminating policy-relevant, evidenced-based analysis of Africa’s security challenges and publishing
          independent research in addressing the strategic dimensions and changing patterns of global security threats,
          best practices, and lessons learned;</p>
      </div>
      <div class="goal_points">
        <i class="fas fa-tags"></i>
        <p>
          Engaging African states, their partners and institutions through rigorous academic and outreach programs that
          build strategic capacity and foster long-term, collaborative relationships;</p>
      </div>
      <div class="goal_points">
        <i class="fas fa-tags"></i>
        <p>
          Identifying and resolving technical security challenges in Africa in ways that promote global peace, security,
          and stability;</p>
      </div>
      <div class="goal_points">
        <i class="fas fa-tags"></i>
        <p>
          Organizing conferences and running regular seminar series where internal and external speakers address issues
          related to science, technology and security;
        </p>
      </div>
      <div class="goal_points">
        <i class="fas fa-tags"></i>
        <p>
          Applying its expertise to important and urgent security problems that require solid technical and scientific data and analyses and making its results available to policy-makers, the press, and the public;
        </p>
      </div>

      <div class="goal_points">
        <i class="fas fa-tags"></i>
        <p>Testifying before government and Organizational committees;
        </p>
      </div>
    </div>
  </div>
  <africsis-subscribe></africsis-subscribe>
  <africsis-footer></africsis-footer>
</div>
