<header>
  <div class="header_row1">
    <div class="brand">
      <img src="../../../../assets/core/header/logo-africsis.png" alt="" class="logo">
      <div>
        <h2>African Center for Science and International Security</h2>
        <h3>Citizens and Scientists for Security Solutions</h3>
      </div>
      <label for="menu-bar" ><i class="fa fa-bars"></i></label>
    </div>
    <div class="support_col">
      <button>support</button>
      <div class="searchbox">
        <input type="text" name="" id="" placeholder="search here ...">
        <span class="fa fa-search"></span>
      </div>
    </div>
  </div>

  <div class="header_row2">
    <img src="../../../../assets/core/header/logo-africsis.png" alt="" class="logo">
    <input type="checkbox" name="" id="menu-bar">
    <nav>
      <div class="searchbox">
        <input type="text" name="" id="" placeholder="search here ...">
        <span class="fa fa-search"></span>
      </div>
      <ul>
        <li><a href="" style="--i:1;">home</a></li>
        <li><a href="#" style="--i:1;" >about us +</a>
        <ul>
          <li><a routerLink="/about-us/who-we-are" style="--i:2;">who we are</a></li>
          <li><a routerLink="/about-us/where-we-work" style="--i:3;">where we work</a></li>
          <li><a href="" style="--i:4;">our staff</a></li>
          <li><a routerLink="/about-us/partners"  style="--i:5;">partnerships</a></li>
          <li><a routerLink="/about-us/advisory-board" style="--i:6;">our international advisory board</a></li>
        </ul>

        </li>
        <li><a href="#" style="--i:2;">programs +</a>
          <ul>
            <li><a routerLink="/programs/GWSP" style="--i:1;">global warming and security program (GWSP)</a></li>
            <li><a routerLink="/programs/NDP" style="--i:2;">Nonproliferation And Disarmament Program (NDP)</a></li>
            <li><a routerLink="/programs/NSP" style="--i:3;">Nuclear Security Program (NSP)</a></li>
            <li><a routerLink="/programs/SSP" style="--i:4;" >Space And Satellite Program (SSP)</a></li>
          </ul>
        </li>
        <li><a href="#" style="--i:3;">publications +</a>
          <ul>
            <li><a href="" style="--i:1;">feature stories</a></li>
            <li><a href="" style="--i:2;">focus articles</a></li>
            <li><a href="" style="--i:3;">papers</a></li>
            <li><a href="" style="--i:4;">reports</a></li>
          </ul>
        </li>
        <li><a href="" style="--i:4;">careers</a></li>
        <li><a href="" style="--i:5;">events</a></li>
        <li><a routerLink="/contact/location-and-direction" style="--i:6;">contacts us</a></li>
        <li><a href="" style="--i:7;">become a contributor</a></li>
        <li><a href="" style="--i:8;">gallery +</a>
          <ul>
            <li><a href="" style="--i:1;">images</a></li>
            <li><a href="" style="--i:2;">videos</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
