<div class="header-container">
  <africsis-header></africsis-header>
</div>

<div class="positioning">
  <div class="advisoryC">
    <h2 class="pageTitle">International Advisory Board</h2>
    <p class="pageCaption">AFRICSIS International Advisory Board meets at least once a year to review AFRICSIS programmes and activities. It comprises a highly skilled and a dedicated team with professional experience in nonproliferation and arms control, nuclear engineering, space science, environmental science, physics, and political science.</p>
    <div class="container_p">
      <div class="Pcard hidden">
        <h3 class="name">Dr. Patricia Lewis</h3>
        <p class="role">RESEARCH DIRECTOR, INTERNATIONAL SECURITY</p>
        <p class="description">The Royal Institute of International Affairs Chatham House London, United Kingdom</p>
      </div>
      <div class="Pcard hidden">
        <h3 class="name">Dr. Ole Reistad</h3>
        <p class="role">SENIOR ENGINEER & ADJUNCT PROFESSOR</p>
        <p class="description">Institute for Energy Technology Kjeller, Norway</p>
      </div>
      <div class="Pcard hidden">
        <h3 class="name">Prof. Benjamin J.B. Nyarko</h3>
        <p class="role">DIRECTOR-GENERAL</p>
        <p class="description">Ghana Atomic Energy Commission Accra, Ghana</p>
      </div>
      <div class="Pcard hidden">
        <h3 class="name">Ambassador Lawrence Olufemi Obisakin (Ph.D)</h3>
        <p class="role">AMBASSADOR</p>
        <p class="description">Ambassador of the Federal Republic of Nigeria to the Republic of Benin, Cotonou</p>
      </div>
      <div class="Pcard hidden">
        <h3 class="name">Dr. Ferenc Dalnoki-Veress</h3>
        <p class="role">SCIENTIST-IN-RESIDENCE & ADJUNCT PROFESSOR</p>
        <p class="description">James Martin Center for Nonproliferation Studies (CNS) Monterey Institute of
          International Studies Monterey, California</p>
      </div>
      <div class="Pcard hidden">
        <h3 class="name">Rt. Lt. General Robert G. Gard, Jr. , (Ph.D.)</h3>
        <p class="role">CHAIRMAN</p>
        <p class="description">Center for Arms Control and Non-Proliferation Washington, D.C.</p>
      </div>
      <div class="Pcard hidden">
        <h3 class="name">Mr. Kofi Menkah</h3>
        <p class="role">PARLIAMENTARY CLERK</p>
        <p class="description">Parliament of Ghana</p>
      </div>
      <div class="Pcard hidden">
        <h3 class="name">Prof. Geoffrey Emi-Reynolds</h3>
        <p class="role">DIRECTOR</p>
        <p class="description">Radiation Protection Institute Ghana Atomic Energy Commission Accra, Ghana</p>
      </div>
      <div class="Pcard hidden">
        <h3 class="name">Prof. Francis Kofi Ampenyi Allotey</h3>
        <p class="role">Institute of Mathematical Science</p>
        <p class="description">P. O. Box LG170, Legon Accra-Ghana</p>
      </div>
      <div class="Pcard hidden">
        <h3 class="name">Prof. Cyril Schandorf</h3>
        <p class="role">BOARD CHAIRPERSON</p>
        <p class="description">AFRICSIS, Ghana</p>
      </div>
      <div class="Pcard hidden">
        <h3 class="name">Maj. (Dr) Mustapha Ahmed (Rtd:)</h3>
        <p class="role">MINISTER OF SPORTS</p>
        <p class="description">President of the Republic of Ghana</p>
      </div>
      <div class="Pcard hidden">
        <h3 class="name">Justice Mrs Agnes Dordzie</h3>
        <p class="role">JUSTICE</p>
        <p class="description">Appeal Court, Accra P.O. Box CT 629, Accra, Ghana</p>
      </div>
      <div class="Pcard hidden">
        <h3 class="name">Prof. Edward H. K. AKAHO</h3>
        <p class="role">FORMER DIRECTOR GENERAL</p>
        <p class="description">Ghana Atomic Energy Commission, Accra, Ghana</p>
      </div>
      <div class="Pcard hidden">
        <h3 class="name">Mrs. Margaret Ahiadeke</h3>
        <p class="role">HEAD</p>
        <p class="description">Office of Legal Affairs Ghana Atomic Energy Commission, Accra, Ghana</p>
      </div>
      <div class="Pcard hidden">
        <h3 class="name">Prof. E. O. Darko</h3>
        <p class="role">DEPUTY DIRECTOR</p>
        <p class="description">Radiation Protection Institute Ghana Atomic Energy Commission, Accra, Ghana</p>
      </div>
      <div class="Pcard hidden">
        <h3 class="name">Mr. Gha Clement Kenah</h3>
        <p class="role">DEPUTY SUPERINTENDENT OF POLICE</p>
        <p class="description">G.M.I. No. 6 Bamenda, NWR Cameroon</p>
      </div>

    </div>
  </div>
  <africsis-subscribe></africsis-subscribe>
  <africsis-footer></africsis-footer>
</div>
