<div class="header-container">
  <africsis-header></africsis-header>
</div>

<div class="positioning">
  <div class="gwsp_continer">
    <h2>Nuclear Security Program (NSP)</h2>

    <div class="gwsp_content_container">
      <div class="gwsp_content">
        <p>
          <span>T</span>
          he nuclear security field can be viewed under two major perspectives. The narrow view, the physical security
          of nuclear materials, is predominantly concerned with the “guns, guards, and gates” model. The African Center
          for Science and International Security advocates a broader view of activities that fall under the “nuclear
          security” field. This broader interpretation of nuclear security is critically necessary to nurture the
          interdisciplinary approach needed for an effective and sustainable nuclear security framework, both within
          countries and across the African continent, in relation to the global nuclear security resolutions and
          agreements.
        </p>
        <div class="imageSection">
          <img src="./assets/aboutUs/gwsp.jpg" alt="">
        </div>


        <div class="mission">
          <h4>Activities</h4>
          <p>
            The broader view encompasses all the activities that support the following objectives:
          </p>
          <ul>
            <li>Non-diversion of nuclear or radiological materials or devises to illicit or malicious purposes.</li>
            <li>Where feasible, securing or replacing potential threat materials to reduce the opportunities for
              malicious use.</li>
            <li>Appropriate control and monitoring of nuclear weapons and related technology.</li>
            <li>Discourage, detect and dissuade the proliferation of nuclear weapons or other nuclear and radiological
              threats.</li>
            <li>Achieve proliferation resistant systems that support peaceful uses of nuclear energy.</li>
            <li>Anticipate, stop, investigate and effectively counter malefactor efforts to acquire nuclear or
              radiological materials.</li>
            <li>Mitigate or minimize the consequences of radiological or nuclear incidents, including attacks, through
              prior planning, effective response, as well as emergency management and remediation.</li>
          </ul>
        </div>
        <div class="goal">
          <h4>Center’s Goals</h4>
          <p>
            The Center’s program was established in recognition of the need to encourage dialogue and sustain efforts in
            nuclear security in Africa where the field is developing. The population of skilled per­sonnel is limited,
            yet the national and global need for expertise and new capabilities in that area is growing. The program
            aims to fill that gap by estab­lishing deeper and more effective partnerships between research and
            educational institutes and government and industry. The Center seeks specifically to achieve the following
            goals:
          </p>
          <ul>
            <li>Marshal and coordinate the collective re­sources of the researchers, educators and government to address
              important nuclear security needs effectively.</li>
            <li>Enable better and broader collaborations, particularly among the researchers.</li>
            <li>Develop an intellectual leadership position in shaping the national and regional dialogue on nuclear
              security policy and practice.</li>
            <li>Communicate the Center’s synergy in nuclear security capabilities both among the researchers as well as
              to potential sponsors.</li>
            <li>Enhance the ability of the researchers to en­gage in activities that attract and educate the next
              generation of experts in this field.</li>
          </ul>

          <p>The objectives of the Center are to:</p>
          <ul>
            <li>Promote new educational/train­ing programs to meet national and continental needs in nucle­ar security.
            </li>
            <li>Shape the avenues of diplomacy and public policy for greater effectiveness in achieving global nuclear
              security objectives.</li>
            <li>Further the development of interdisciplin­ary scientific research and development for nuclear security
              applications.</li>
            <li>Foster excellence in the expertise of the researchers that support better intelligence and operational
              capabilities for global nu­clear security.</li>
            <li>Enhance understanding of real-world challenges in nuclear secu­rity.</li>
          </ul>
        </div>

        <div class="method">
          <h4>Pillars</h4>
          <p>
            The African Center for Science and International Security focuses its efforts on three principal thematic
            areas, which are referred to as our “pillars.” Our concept of a systems approach to nuclear securi­ty is
            designed specifically to encourage crosscutting efforts and collaborations between academia, gov­ernment,
            the private sector, and the public. The Center fosters a long-term comprehensive approach in its work that
            is informed by the “whole of govern­ment” and “whole of society” concepts advanced for addressing nuclear
            security concerns.
          </p>
          <p>
            The three pillars are:
          </p>
          <ol>
            <li>

              <p>Policy, Law, and Diplomacy.</p>
            </li>
            <li>
              <p>Education and Training.</p>
            </li>
            <li>

              <p>Science and Technology.</p>
            </li>
          </ol>
          <p>
            The critical component in sustaining the rele­vance of our efforts is the sharing of insights from one
            pillar to another. For example, experience gained in the science and technology work of the Center should
            improve policy and diplomacy of countries, regional and international governmental organizations. Lessons
            from the integration of those technologies and their application inform our ed­ucational programs and may
            raise policy consider­ations that warrant in-depth study. Through the Center’s work and routine meetings
            with the board of directors who are drawn from an international pool of scientists, experts and
            professionals, we share these insights on a regular basis.
          </p>
        </div>


        <div class="mission">
          <h4>Research</h4>
          <p>
            Research is one of the fundamental elements of sustaining and promoting both national and global nu­clear
            security initiatives. The Center conducts independent and collaborative re­search across its researchers,
            with governmental agencies, universities, and research centers nation­ally and on international level. We
            are engaged in collaboration with various think tanks and national agen­cies, international organizations
            and universities.
          </p>
          <p>Key research areas for the Nuclear Security Program include:</p>
          <ul>
            <li>Signatures of nuclear materials and pro­cesses.</li>
            <li>Prevention, detection, interdiction, and response for illicit nuclear/radioactive threats.</li>
            <li>Applications of nuclear probes for detection of security-relevant materials.</li>
            <li>Application of nuclear security in real-world settings.</li>
            <li>Policy, law, and diplomacy relating to global nuclear security.</li>
          </ul>
          <p>
            The Center fosters the development of collaborative research proposals in nuclear security applications as
            opportunities arise. The Center’s philosophy is to focus on areas where we can augment our re­search mission
            without interference to ongoing re­lationships and projects — therefore, not every proj­ect that is within
            the nuclear security thrust area is managed through the Center. In general, the Center tar­gets those
            large-scale, complex proposals wherein interdisciplinary and multi-organizational teams are best suited for
            the work.
          </p>
        </div>

        <div class="mission">
          <h4>Outreach</h4>
          <p>
            The Center’s work in this area serves as an independent resource to the public on nuclear security issues
            and policy. Additionally, the Center supports engagement of the nuclear security culture concept with
            emerging nuclear power producing states through publications and interactions with the appropriate
            governmental leadership.
          </p>
        </div>
      </div>

      <div class="sidebar">
        <div class="content-wrapper">
          <h3>Other Programs</h3>
          <div class="program-card">
            <img src="./assets/aboutUs/programcard.png" alt="">
            <div class="program-card-content">
              <p>Global Warming and Security Program (GWSP)</p>
              <a routerLink="/programs/GWSP">Read More <i class="fa fa-chevron-right"></i></a>
            </div>
          </div>
          <div class="program-card">
            <img src="./assets/aboutUs/programcard.png" alt="">
            <div class="program-card-content">
              <p>Space and Satellite Program (SSP)</p>
              <a routerLink="/programs/SSP">Read More <i class="fa fa-chevron-right"></i></a>
            </div>
          </div>
          <div class="program-card">
            <img src="./assets/aboutUs/programcard.png" alt="">
            <div class="program-card-content">
              <p>Nonproliferation and Disarmament Program (NDP)</p>
              <a routerLink="/programs/NDP">Read More <i class="fa fa-chevron-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <africsis-subscribe></africsis-subscribe>
  <africsis-footer></africsis-footer>
</div>
