<div class="marquee">
  <h2>Partners</h2>
  <div class="marquee--inner">
    <span>
      <div class="orb">
        <img src="./assets/core/projects/Universitty-of-Tennessee-LOGO.gif" alt="">
      </div>
      <div class="orb ">
        <img src="./assets/core/projects/SGAC-LOGO.jpg" alt="">
      </div>
      <div class="orb ">
        <img src="./assets/core/projects/crdf-global.png" alt="">
      </div>
      <div class="orb ">
        <img src="./assets/core/projects/FMWG-LOGO.jpg" alt="">
      </div>
      <div class="orb ">
        <img src="./assets/core/projects/Ghana_Atomic_Energy_Commission_GAEC_logo.jpg" alt="">
      </div>
      <div class="orb ">
        <img src="./assets/core/projects/iaea-logo.png" alt="">
      </div>
      <div class="orb ">
        <img src="./assets/core/projects/IJNS-LOGO.png" alt="">
      </div>
      <div class="orb ">
        <img src="./assets/core/projects/kumasi-uni-logo.png" alt="">
      </div>
      <div class="orb ">
        <img src="./assets/core/projects/logo-cns.jpg" alt="">
      </div>
      <div class="orb ">
        <img src="./assets/core/projects/NNSA-LOGO.png" alt="">
      </div>
      <div class="orb ">
        <img src="./assets/core/projects/NTI-LOGO.png" alt="">
      </div>
      <div class="orb ">
        <img src="./assets/core/projects/nuclear-regulatory-authority-Ghana.png" alt="">
      </div>
      <div class="orb ">
        <img src="./assets/core/projects/PNS_finallogo.jpg" alt="">
      </div>
       <div class="orb ">
        <img src="./assets/core/projects/SGAC-LOGO.jpg" alt="">
      </div>
    </span>
    <!-- <span>
      <div class="orb">
        <img src="./assets/core/projects/Universitty-of-Tennessee-LOGO.gif" alt="">
      </div>
      <div class="orb ">
        <img src="./assets/core/projects/Universitty-of-Tennessee-LOGO.gif" alt="">
      </div>
      <div class="orb ">
        <img src="./assets/core/projects/Universitty-of-Tennessee-LOGO.gif" alt="">
      </div>
      <div class="orb ">
        <img src="./assets/core/projects/Universitty-of-Tennessee-LOGO.gif" alt="">
      </div>
      <div class="orb ">
        <img src="./assets/core/projects/Universitty-of-Tennessee-LOGO.gif" alt="">
      </div>
      <div class="orb ">
        <img src="./assets/core/projects/Universitty-of-Tennessee-LOGO.gif" alt="">
      </div>
    </span> -->

  </div>
</div>
