<div class="header-container">
  <africsis-header></africsis-header>
</div>

<div style="position: relative; top: 150px;">
  <section class="contact">
    <div class="content">
      <h2>Where We Work</h2>
      <p>The Center has one primary office in Accra, Ghana.</p>
    </div>

    <div class="container_c">
      <div class="contactInfo">
        <div class="box">
          <div class="icon"><i class="fa fa-map-marker"></i></div>
          <div class="text">
            <h3>Physical and Mailing Address:</h3>
            <p>African Center for Science and International Security (AFRICSIS)</p>
            <h5>Ghana Atomic Energy Commission (GAEC) </h5>
            <p>P. O. Box LG 80<br> Legon – Accra<br> GHANA </p>
          </div>
        </div>

        <div class="box">
          <div class="icon"><i class="fa fa-phone"></i></div>
          <div class="text">
            <h3>Telephone</h3>
            <p>+ (233) 302-400-303</p>
          </div>
        </div>


        <div class="box">
          <div class="icon"><i class="fa fa-fax"></i></div>
          <div class="text">
            <h3>Fax</h3>
            <p>+ (233) 302-400-807</p>
          </div>
        </div>


        <div class="box">
          <div class="icon"><i class="fa fa-envelope"></i></div>
          <div class="text">
            <h3>Email</h3>
            <p>admin@africsis.org</p>
          </div>
        </div>
      </div>

      <div class="contactForm">
        <form action="">
          <h4>Send general inquiries using this form</h4>
          <p>Please complete the form below and we will contact you regarding your inquiry as soon as possible:</p>
          <div class="inputBox">
            <input type="text" name="" id="" required="required">
            <span>Full Name</span>
          </div>
          <div class="inputBox">
            <input type="text" name="" id="" required="required">
            <span>Email</span>
          </div>

          <div class="inputBox">
            <input type="text" name="" id="" required="false">
            <span>Website</span>
          </div>

          <div class="inputBox">
            <textarea required="required"></textarea>
            <span>Your comment...</span>
          </div>

          <div class="inputBox">
            <input type="submit" value="Send">
          </div>
        </form>
      </div>
    </div>
  </section>
  <africsis-subscribe></africsis-subscribe>
  <africsis-footer></africsis-footer>
</div>
