<div class="header-container">
  <africsis-header></africsis-header>
</div>

<div class="positioning">
  <div class="gwsp_continer">
    <h2>Nonproliferation And Disarmament Program (NDP)</h2>

    <div class="gwsp_content_container">
      <div class="gwsp_content">
        <p>
          <span>T</span>
          he African Center for Science and International Security Nonproliferation and Disarmament Program (NDP)
          increases international understanding of some of the important nuclear energy and nuclear weapons questions in
          Africa. It strives to foster and strengthen efforts of states and their partners to increase global security.
        </p>
        <p>
          NDP comprises projects on nuclear security, nuclear energy development, disarmament verification, and
          nonproliferation of nuclear weapons and their delivery systems. NDP web resources encompass relevant
          publications, educational tools for the public and media, and links to our partners and sponsors.
        </p>
        <div class="imageSection">
          <img src="./assets/aboutUs/gwsp.jpg" alt="">
        </div>


        <div class="mission">
          <h4>NDP Mission</h4>
          <p>
            The threat posed by the spread of nuclear, chemical, and biological weapons and their delivery systems is
            one of the key security challenges of the twenty-first century. Meeting the threats requires solid technical
            and scientific data and analyses. In this context, the NDP program puts technical information into a
            nonproliferation and disarmament context to enhancing the security of the countries and the world. The
            program provides the press, public and policy-makers with information and analysis on the status and
            developments of nonproliferation and disarmament issues. In addition, the program seeks to encourage a
            stronger congruence of nonproliferation and arms-control policies.
          </p>
        </div>
        <div class="goal">
          <h4>NDP Goal</h4>
          <p>
            The Nonproliferation and Disarmament Program contributes to achieving sustainable international peace,
            security and development by promoting research and education of nonproliferation and disarmament topics.
          </p>
        </div>

        <div class="method">
          <h4>NDP Method</h4>
          <p>
            To meet this goal the Nonproliferation and Disarmament Program works in the following project areas:
          </p>
          <ol>
            <li>

              <p><b> Transparency.</b> Improve dialogue and deliberation over an understanding of key nuclear science
                and technology issues and challenges by promoting transparency in research, policy decisions, and
                building trust and communication between scientists, policy makers, and the public.</p>
            </li>
            <li>
              <p><b> Technology.</b> Create tools to aid researchers, scientists, and policymakers in better
                understanding complex issues and systems.
                and systems.</p>
            </li>
            <li>

              <p><b> Inquiry.</b> Facilitate better scientific and public understanding of key technological and applied
                science issues through undertaking and supporting systemic, multidisciplinary research that utilizes
                principles of scientific inquiry.</p>
            </li>
            <li>

              <p><b> Policy.</b>Promote policy to further regional and international nonproliferation and disarmament
                efforts and advocate for political processes that engage key stakeholders and scientists in
                deliberations.</p>
            </li>
            <li>

              <p><b>Partnership.</b> Develop long term, multidisciplinary collaborations and partnerships between
                African and foreign think tanks to advance regional and global nonproliferation and disarmament
                initiatives.</p>
            </li>
          </ol>
        </div>
      </div>

      <div class="sidebar">
        <div class="content-wrapper">
          <h3>Other Programs</h3>
          <div class="program-card">
            <img src="./assets/aboutUs/programcard.png" alt="">
            <div class="program-card-content">
              <p>Global Warming and Security Program (GWSP)</p>
              <a routerLink="/programs/GWSP">Read More <i class="fa fa-chevron-right"></i></a>
            </div>
          </div>
          <div class="program-card">
            <img src="./assets/aboutUs/programcard.png" alt="">
            <div class="program-card-content">
              <p>Space and Satellite Program (SSP)</p>
              <a routerLink="/programs/SSP">Read More <i class="fa fa-chevron-right"></i></a>
            </div>
          </div>
          <div class="program-card">
            <img src="./assets/aboutUs/programcard.png" alt="">
            <div class="program-card-content">
              <p>Nuclear Security Program (NSP)</p>
              <a routerLink="/programs/NSP">Read More <i class="fa fa-chevron-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <africsis-subscribe></africsis-subscribe>
  <africsis-footer></africsis-footer>
</div>
