<div class="header-container">
  <africsis-header></africsis-header>
</div>


<div class="positioning">
  <div class="map-container">
    <h1>Location And Directions</h1>
    <p>AFRICSIS main office is housed within Ghana Atomic Energy Commission (GAEC). GAEC is located North-West of
      University of Ghana. It is about 24 km from the Central Accra and 6 km off the Legon-Madina road towards Kwabenya
      through Haatso township.</p>
    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24705.008180670764!2d-0.21890945086131308!3d5.676301684931084!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf9c28afaed00f%3A0x9352f4a8fa62e158!2sGhana%20Atomic%20Energy%20Commission!5e0!3m2!1sen!2sin!4v1678369637049!5m2!1sen!2sin"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  <africsis-subscribe></africsis-subscribe>
  <africsis-footer></africsis-footer>
</div>
